
<div>
<h2>SEUH– Software Engineering im Unterricht der Hochschulen<br/>
    24. und 25. Februar 2022, HTW Berlin
    </h2>

<h3>Nachhaltigkeit und Ethik<br/>
in der Software Engineering Ausbildung und<br/>
    Lehren und Lernen nach der Pandemie</h3>


<div class = "container"><div class = "content">
<ul>
    <li><a href="2022-SEUH-CfP.pdf">Call for Papers als PDF</a>
    </li>
    <li><a href="http://www.seuh.org">SEUH-Konferenzreihe</a></li>
</ul>
<h2>Call for Papers</h2>
<p>
Die SEUH ist seit vielen Jahren das Forum im deutschsprachigen Raum, auf dem Lehrende aus Universitäten, Hochschulen für angewandte Wissenschaften sowie dualen Hochschulen ihre Erfolge, Misserfolge und Erfahrungen in der Software Engineering Ausbildung vorstellen, diskutieren und gemeinsam die Qualität der Lehre verbessern. Neben den inhaltlichen Impulsen rund um Lehren und Lernen bietet die SEUH viel Raum für Diskussion und den gegenseitigen Austausch. Viele Lehrende haben von der SEUH entscheidende Impulse für ihre Arbeit erhalten.
Die SEUH 2022 wird durchgeführt an der HTW in Berlin, als hybrides Format und zeitlich abgestimmt mit der Tagung Software Engineering (SE) der Gesellschaft für Informatik, die rein virtuell stattfindet. Die SEUH lebt vom intensiven kollegialen Austausch. Um diesen zu verstärken wird neben den üblichen Vortragsformaten auch ein Open Space integriert, in dessen Rahmen aktuell für die Teilnehmer:innen relevante Themen gemeinschaftlich bearbeitet werden.

</p>
<h4>Themen</h4>
Im Fokus der SEUH 2022 stehen die beiden Themenbereiche Nachhaltigkeit und Ethik in der Software Engineering Ausbildung sowie Lehren und Lernen nach der Pandemie.
Beispiele für mögliche Themen im Bereich Nachhaltigkeit und Ethik in der Software Engineering Ausbildung sind:
<ul><li>Wiederverwendbare Software
</li><li>Green-IT
</li><li>Technikfolgenabschätzung
</li><li>Ethische Aspekte der Softwareentwicklung
</li><li>Gesellschaftliche Aspekte der Softwareentwicklung
</li><li>Gerechtigkeit, Vielfalt und Inklusion in der Ausbildung
</li><li>Globale und verteilte Lehre</li>
</ul>
Die folgenden Themen sind Anregungen für Beiträge im Bereich Lehren und Lernen nach der Pandemie:
<ul>
</li><li>Hybrides Lehren und Lernen
</li><li>Verteilte Softwareprojekte in der Lehre
</li><li>Prüfungsformate jenseits von Klausuren und reiner Präsenz</li>
</ul>
Weitere aktuelle Themen sind ebenso willkommen.

<h4>Formate und Einreichungen</h4>

Folgende Einreichungsformate sind möglich:
<p><span class = "submission">Reguläre Beiträge</span> (bis zu 12 Seiten) präsentieren und diskutieren neue Ergebnisse der Lehr-Lernforschung im Bereich Software Engineering Ausbildung oder beschreiben ausführliche Erfahrungsberichte mit einer Fallstudie.
</p><p><span class = "submission">Positionsbeiträge</span> (bis zu 6 Seiten) stellen neue Ideen, Herausforderungen oder Erfahrungsberichte zur Diskussion.
</p><p>Für den Open Space sind keine formalen Einreichungen erforderlich. Wir freuen uns jedoch über im Vorfeld der SEUH eingebrachte Themenvorschläge, gerne per Mail an seuh-2022@htw-berlin.de.
</p><p>Beiträge sind auf Deutsch oder Englisch willkommen. Formatvorlagen und weitere Informationen sind auf der Homepage hinterlegt. Die Einreichung erfolgt als PDF über EasyChair (siehe links).
<h4>Auswahl der Einreichungen</h4>
<p>Über die Annahme der Beiträge entscheidet das Programmkomitee nach mindestens zweifacher Begutachtung. Mindestens ein Autor bzw. eine Autorin eines akzeptierten Beitrags muss sich für die SEUH 2022 anmelden und den Beitrag auf der SEUH vorstellen, entweder vor Ort in Berlin (nach den dann geltenden Corona-Regeln) oder virtuell.
Angenommene und präsentierte Beiträge werden in der SEUH-Reihe online über LNI veröffentlicht.

</p>

<h4>Wichtige Termine</h4>
15. Oktober 2021 - Einreichung von Beiträgen<br>
1. Dezember 2021 - Nachricht über die Annahme<br>
31. Dezember 2021 - Einreichung der Endbeiträge<br>
<h4>Programmkomitee</h4>
Steffen Becker,
Uni Stuttgart<br>
Ilona Buchem, BEUTH
Hochschule für Technik Berlin<br />
Martin Fränzle,
Uni Oldenburg<br />
Michael Goedicke,
Uni Duisburg<br />
Barne Kleinen (Organisation),
HTW Berlin<br />
Markus Müller-Olm,
Uni Münster<br />
Barbara Paech,
Uni Heidelberg<br />
Lutz Prechelt,
FU Berlin<br />
Eva-Maria Schön,
HAW Hamburg<br />
Veronika Thurner (Vorsitz),
HS München<br />
Karin Vosseberg,
HS Bremerhaven<br />
Heike Wiesener,
HWR Berlin<br />
<h4>Lokale Organisation</h4>
Barne Kleinen,<br>
Juliane Siegeris,<br>
Debora Weber-Wulff,<br>
HTW Berlin<br>
seuh-2022@htw-berlin.de
<h4>Tagungsort</h4>
HTW Berlin und hybrid<br>
Campus Wilhelminenhof<br>
<a href= "https://htw-berlin.de">www.htw-berlin.de</a><br>
Weitere Informationen<br>
<a href="http://www.seuh.org/seuh2022">http://www.seuh.org/seuh2022</a><br>
<a href="https://easychair.org/conferences/?conf=seuh2022">https://easychair.org/conferences/?conf=seuh2022</a><br>
</div>
</div>
</div>
